<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hxjc.hxyc.mapper.HxycTestMapper" >

  <sql id="Base_Column_List" >
    id, name, remark
  </sql>

  <select id="findHxycTest" resultType="com.hxjc.hxyc.model.HxycTest" parameterType="java.lang.Long" useCache="false" >
    select * from t_hxyc_test where id = #{id,jdbcType=BIGINT}
  </select>

</mapper>