<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hxyc.ots.mapper.CompanyMapper" >
  <resultMap id="BaseResultMap" type="com.hxyc.ots.model.Company" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="company_name" property="companyName" jdbcType="VARCHAR" />
    <result column="company_short_name" property="companyShortName" jdbcType="VARCHAR" />
    <result column="parent_id" property="parentId" jdbcType="VARCHAR" />
    <result column="sort" property="sort" jdbcType="INTEGER" />
    <result column="level" property="level" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>

  <resultMap id="VOResultMap" type="com.hxyc.ots.vo.CompanyVO" extends="BaseResultMap">
    <result column="parentCompanyName" property="parentCompanyName" jdbcType="VARCHAR" />
  </resultMap>

  <sql id="Base_Column_List" >
    id, company_name, company_short_name, parent_id, sort, level, status, create_by, 
    create_time, update_by, update_time
  </sql>

  <!-- 获取公司信息列表 -->
  <select id="listCompanys" resultMap="VOResultMap" parameterType="com.hxyc.ots.vo.CompanyVO" >
    select a.*, b.company_name parentCompanyName from t_company a
    left join (select id, company_name, status from t_company) b on b.id=a.parent_id and b.status=1
    where a.status=1
    <if test="companyName != null and companyName != ''" >
      and a.company_name like concat(concat('%',#{companyName,jdbcType=VARCHAR}),'%')
    </if>
    <if test="startDate != null and startDate != '' and  endDate != null and endDate != '' " >
      and a.create_time BETWEEN #{startDate,jdbcType=VARCHAR} and #{endDate,jdbcType=VARCHAR}
    </if>
    <if test="id != null and id != ''">
      and a.id = #{id,jdbcType=VARCHAR}
    </if>
    <if test="level != null">
      and a.level = #{level,jdbcType=INTEGER}
    </if>
    order by a.level,a.sort
  </select>

  <!-- 根据状态查询CompanyVO对象 -->
  <select id="listCompanyByStatus" resultMap="VOResultMap" parameterType="java.util.Map">
    SELECT com.*,com1.company_name AS parentCompanyName FROM
      (SELECT comp.* FROM `t_company` comp WHERE comp.`status` = 1 AND comp.`id` IN(
      SELECT proj.`company_id` FROM `t_project` proj WHERE proj.`status` = 1
      <if test="completion != null">
        AND proj.`is_completion` = #{completion,jdbcType=TINYINT}
      </if>
      <if test="id != null">
        AND proj.`company_id` = #{id,jdbcType=VARCHAR}
      </if>
      <if test="level != null">
        and comp.level = #{level,jdbcType=INTEGER}
      </if>
      GROUP BY proj.`company_id`)) com
      LEFT JOIN `t_company` com1 ON com1.`id` = com.`parent_id` AND com1.`status` = 1 WHERE com.`status` = 1
      ORDER BY com.level
  </select>
  <!--  查询有异常项目的CompanyVO对象  -->
  <select id="listExceptionCompanys" resultMap="VOResultMap" parameterType="com.hxyc.ots.vo.CompanyVO" >
    SELECT com1.*,com.`company_name` AS parentCompanyName FROM
      (SELECT comp.`id`,comp.`company_name`,comp.`company_short_name`,comp.`parent_id`,comp.`level`,comp.`status`,comp.`sort` FROM `t_company` comp
      LEFT JOIN `t_project` proj ON proj.`company_id` = comp.`id` AND proj.`status` = 1
      LEFT JOIN `t_order` o ON o.`project_id` = proj.`id` AND o.`status` = 1
      LEFT JOIN `t_settlement` sett ON sett.`order_id` = o.`order_code` AND sett.`status` = 1
      LEFT JOIN `t_payment` pay ON pay.`settlement_id` = sett.`id` AND pay.`status` = 1
      WHERE comp.`status` = 1 AND (o.`delivery_status` = 0 OR sett.`bill_delivery_status` = 2 OR sett.`buyer_settlement_status` = 2
        OR sett.`settlement_delivery_status` = 2 OR sett.`supplier_settlement_status` = 2 OR pay.`approval_status` = 2
        OR pay.`bill_open_time` = 2 OR pay.`payment_status` = 2
        ) GROUP BY comp.`id`,comp.`company_name`,comp.`company_short_name`,comp.`parent_id`,comp.`level`,comp.`status`,comp.`sort`) com1
      LEFT JOIN `t_company` com ON com.`id` = com1.`parent_id` AND com.`status` = 1
      WHERE com1.`status` = 1
      <if test="companyName != null and companyName != ''" >
        and com1.company_name like concat(concat('%',#{companyName,jdbcType=VARCHAR}),'%')
      </if>
      ORDER BY com1.level,com1.sort
</select>

  <!-- 获取公司名称或公司简称是否存在 -->
  <select id="getCompanyCountByName" resultType="java.lang.Integer" parameterType="java.util.Map" >
    select count(*) from t_company where
    <if test="name != null and name != ''" >
      company_name=#{name,jdbcType=VARCHAR} or company_short_name=#{name,jdbcType=VARCHAR}
    </if>
  </select>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_company
    where id = #{id,jdbcType=VARCHAR}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_company
    where id = #{id,jdbcType=VARCHAR}
  </delete>

  <insert id="insert" parameterType="com.hxyc.ots.model.Company" >
    <selectKey keyProperty="id" resultType="string" order="BEFORE">
      select replace(uuid(), '-', '') as id from dual
    </selectKey>
    insert into t_company (id, company_name, company_short_name, 
      parent_id, sort, level, 
      status, create_by, create_time, 
      update_by, update_time)
    values (#{id,jdbcType=VARCHAR}, #{companyName,jdbcType=VARCHAR}, #{companyShortName,jdbcType=VARCHAR}, 
      #{parentId,jdbcType=VARCHAR}, #{sort,jdbcType=INTEGER}, #{level,jdbcType=INTEGER}, 
      #{status,jdbcType=INTEGER}, #{createBy,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateBy,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>

  <insert id="insertSelective" parameterType="com.hxyc.ots.model.Company" >
    <selectKey keyProperty="id" resultType="string" order="BEFORE">
      select replace(uuid(), '-', '') as id from dual
    </selectKey>

    insert into t_company
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="companyName != null" >
        company_name,
      </if>
      <if test="companyShortName != null" >
        company_short_name,
      </if>
      <if test="parentId != null" >
        parent_id,
      </if>
      <if test="sort != null" >
        sort,
      </if>
      <if test="level != null" >
        level,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateBy != null" >
        update_by,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="companyName != null" >
        #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="companyShortName != null" >
        #{companyShortName,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null" >
        #{parentId,jdbcType=VARCHAR},
      </if>
      <if test="sort != null" >
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="level != null" >
        #{level,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.hxyc.ots.model.Company" >
    update t_company
    <set >
      <if test="companyName != null" >
        company_name = #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="companyShortName != null" >
        company_short_name = #{companyShortName,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null" >
        parent_id = #{parentId,jdbcType=VARCHAR},
      </if>
      <if test="sort != null" >
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="level != null" >
        level = #{level,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>

  <update id="updateByPrimaryKey" parameterType="com.hxyc.ots.model.Company" >
    update t_company
    set company_name = #{companyName,jdbcType=VARCHAR},
      company_short_name = #{companyShortName,jdbcType=VARCHAR},
      parent_id = #{parentId,jdbcType=VARCHAR},
      sort = #{sort,jdbcType=INTEGER},
      level = #{level,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>