<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hxyc.ots.mapper.MenuMapper" >
  <resultMap id="BaseResultMap" type="com.hxyc.ots.model.Menu" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="menu_code" property="menuCode" jdbcType="VARCHAR" />
    <result column="menu_name" property="menuName" jdbcType="VARCHAR" />
    <result column="parent_code" property="parentCode" jdbcType="VARCHAR" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="level" property="level" jdbcType="VARCHAR" />
    <result column="menu_class" property="menuClass" jdbcType="VARCHAR" />
    <result column="function_type" property="functionType" jdbcType="VARCHAR" />
    <result column="sort" property="sort" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, menu_code, menu_name, parent_code, url, level, menu_class, function_type, sort, 
    title, status, create_time, create_by, update_time, update_by
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_sys_menu
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="select" resultMap="BaseResultMap" parameterType="com.hxyc.ots.model.Menu">
    select
    <include refid="Base_Column_List" />
    from t_sys_menu
    <trim prefix="where " suffixOverrides="and">
      <if test="id != null" >
        id=#{id,jdbcType=INTEGER} and
      </if>
      <if test="menuCode != null" >
        menu_code=#{menuCode,jdbcType=VARCHAR} and
      </if>
      <if test="menuName != null" >
        menu_name=#{menuName,jdbcType=VARCHAR} and
      </if>
      <if test="parentCode != null" >
        parent_code=#{parentCode,jdbcType=VARCHAR} and
      </if>
      <if test="url != null" >
        url=#{url,jdbcType=VARCHAR} and
      </if>
      <if test="level != null" >
        level=#{level,jdbcType=VARCHAR} and
      </if>
      <if test="menuClass != null" >
        menu_class=#{menuClass,jdbcType=VARCHAR} and
      </if>
      <if test="functionType != null" >
        function_type=#{functionType,jdbcType=VARCHAR} and
      </if>
      <if test="sort != null" >
        sort=#{sort,jdbcType=INTEGER} and
      </if>
      <if test="title != null" >
        title=#{title,jdbcType=VARCHAR} and
      </if>
      <if test="status != null" >
        status=#{status,jdbcType=INTEGER} and
      </if>
      <if test="createTime != null" >
        create_time=#{createTime,jdbcType=TIMESTAMP} and
      </if>
      <if test="createBy != null" >
        create_by=#{createBy,jdbcType=VARCHAR} and
      </if>
      <if test="updateTime != null" >
        update_time=#{updateTime,jdbcType=TIMESTAMP} and
      </if>
      <if test="updateBy != null" >
        update_by=#{updateBy,jdbcType=VARCHAR} and
      </if>
    </trim>
  </select>

  <!--获取所有有效菜单功能-->
  <select id="getAllMenus" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" /> from t_sys_menu where status=1
  </select>

  <!-- 获取所有菜单功能 -->
  <select id="getAll" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" /> from t_sys_menu
  </select>

  <!--获取登录用户有效授权菜单功能-->
  <select id="getMenusByLoginUser" resultMap="BaseResultMap" parameterType="java.util.Map">
     select a.* from t_sys_menu a
     INNER JOIN t_sys_permission b on b.permissions=a.menu_code and b.status=1
     where a.status=1 and b.user_id= #{userId,jdbcType=VARCHAR}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_sys_menu
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hxyc.ots.model.Menu" >
    insert into t_sys_menu (id, menu_code, menu_name, 
      parent_code, url, level, 
      menu_class, function_type, sort, 
      title, status, create_time, 
      create_by, update_time, update_by
      )
    values (#{id,jdbcType=INTEGER}, #{menuCode,jdbcType=VARCHAR}, #{menuName,jdbcType=VARCHAR}, 
      #{parentCode,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, #{level,jdbcType=VARCHAR}, 
      #{menuClass,jdbcType=VARCHAR}, #{functionType,jdbcType=VARCHAR}, #{sort,jdbcType=INTEGER}, 
      #{title,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{createBy,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.hxyc.ots.model.Menu" >
    insert into t_sys_menu
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="menuCode != null" >
        menu_code,
      </if>
      <if test="menuName != null" >
        menu_name,
      </if>
      <if test="parentCode != null" >
        parent_code,
      </if>
      <if test="url != null" >
        url,
      </if>
      <if test="level != null" >
        level,
      </if>
      <if test="menuClass != null" >
        menu_class,
      </if>
      <if test="functionType != null" >
        function_type,
      </if>
      <if test="sort != null" >
        sort,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="updateBy != null" >
        update_by,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="menuCode != null" >
        #{menuCode,jdbcType=VARCHAR},
      </if>
      <if test="menuName != null" >
        #{menuName,jdbcType=VARCHAR},
      </if>
      <if test="parentCode != null" >
        #{parentCode,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="level != null" >
        #{level,jdbcType=VARCHAR},
      </if>
      <if test="menuClass != null" >
        #{menuClass,jdbcType=VARCHAR},
      </if>
      <if test="functionType != null" >
        #{functionType,jdbcType=VARCHAR},
      </if>
      <if test="sort != null" >
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hxyc.ots.model.Menu" >
    update t_sys_menu
    <set >
      <if test="menuCode != null" >
        menu_code = #{menuCode,jdbcType=VARCHAR},
      </if>
      <if test="menuName != null" >
        menu_name = #{menuName,jdbcType=VARCHAR},
      </if>
      <if test="parentCode != null" >
        parent_code = #{parentCode,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="level != null" >
        level = #{level,jdbcType=VARCHAR},
      </if>
      <if test="menuClass != null" >
        menu_class = #{menuClass,jdbcType=VARCHAR},
      </if>
      <if test="functionType != null" >
        function_type = #{functionType,jdbcType=VARCHAR},
      </if>
      <if test="sort != null" >
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hxyc.ots.model.Menu" >
    update t_sys_menu
    set menu_code = #{menuCode,jdbcType=VARCHAR},
      menu_name = #{menuName,jdbcType=VARCHAR},
      parent_code = #{parentCode,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR},
      level = #{level,jdbcType=VARCHAR},
      menu_class = #{menuClass,jdbcType=VARCHAR},
      function_type = #{functionType,jdbcType=VARCHAR},
      sort = #{sort,jdbcType=INTEGER},
      title = #{title,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_by = #{createBy,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>