<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hxyc.ots.mapper.ProjectMapper" >
  <resultMap id="BaseResultMap" type="com.hxyc.ots.model.Project" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="company_id" property="companyId" jdbcType="VARCHAR" />
    <result column="project_name" property="projectName" jdbcType="VARCHAR" />
    <result column="project_code" property="projectCode" jdbcType="VARCHAR" />
    <result column="year" property="year" jdbcType="VARCHAR" />
    <result column="supply_unit" property="supplyUnit" jdbcType="VARCHAR" />
    <result column="contract_sign_time" property="contractSignTime" jdbcType="VARCHAR" />
    <result column="supply_time" property="supplyTime" jdbcType="VARCHAR" />
    <result column="contract_num" property="contractNum" jdbcType="VARCHAR" />
    <result column="contract_amount" property="contractAmount" jdbcType="VARCHAR" />
    <result column="settlement_mode" property="settlementMode" jdbcType="VARCHAR" />
    <result column="base_float_value" property="baseFloatValue" jdbcType="VARCHAR" />
    <result column="extra_capital_amount" property="extraCapitalAmount" jdbcType="VARCHAR" />
    <result column="capital_time_limit" property="capitalTimeLimit" jdbcType="VARCHAR" />
    <result column="interest_rate" property="interestRate" jdbcType="VARCHAR" />
    <result column="project_assistant" property="projectAssistant" jdbcType="VARCHAR" />
    <result column="operate_assistant" property="operateAssistant" jdbcType="VARCHAR" />
    <result column="settlement_assistant" property="settlementAssistant" jdbcType="VARCHAR" />
    <result column="finance_assistant" property="financeAssistant" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="is_completion" property="completion" jdbcType="TINYINT" />
  </resultMap>
  
  <resultMap id="VOResultMap" type="com.hxyc.ots.vo.ProjectVO" extends="BaseResultMap">
    <result column="company_name" property="companyName" jdbcType="VARCHAR" />
    <result column="user_name" property="createPersonName" jdbcType="VARCHAR" />
  </resultMap>

  <sql id="Base_Column_List" >
    id, company_id, project_name, project_code, year, supply_unit, contract_sign_time, 
    supply_time, contract_num, contract_amount, settlement_mode, base_float_value, extra_capital_amount, 
    capital_time_limit, interest_rate, status, create_by, create_time, update_by, update_time,is_completion
    capital_time_limit, interest_rate, status, create_by, create_time, update_by, update_time,
    project_assistant, operate_assistant, settlement_assistant, finance_assistant
  </sql>

  <!-- 获取所有有效项目信息 -->
  <select id="listProject" resultMap="VOResultMap" parameterType="com.hxyc.ots.vo.ProjectVO" >
    select a.*, b.company_name from t_project a
    inner join t_company b on b.id=a.company_id and b.status=1
    where a.status=1
    <if test="projectName != null and projectName != ''" >
      and a.project_name like concat(concat('%',#{projectName,jdbcType=VARCHAR}),'%')
    </if>
    <if test="startDate != null and startDate != '' and  endDate != null and endDate != '' " >
      and a.create_time BETWEEN #{startDate,jdbcType=VARCHAR} and #{endDate,jdbcType=VARCHAR}
    </if>
    order by a.create_time desc
  </select>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from t_project
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <select id="select" resultMap="VOResultMap" parameterType="com.hxyc.ots.vo.ProjectVO" >
    select 
    proj.*,comp.company_name
    from t_project proj left join t_company comp on comp.id = proj.company_id and comp.status = 1
    where
      proj.status = 1
      <if test="companyId != null and companyId != ''" >
        and company_id = #{companyId,jdbcType=VARCHAR}
      </if>
      <if test="projectName != null" >
        and project_name like concat('%',concat(#{projectName,jdbcType=VARCHAR},'%'))
      </if>
      <if test="companyName != null" >
        and comp.company_name like concat('%',concat(#{companyName,jdbcType=VARCHAR},'%'))
      </if>
      <if test="id != null" >
        and proj.id = #{id,jdbcType=VARCHAR}
      </if>
      <if test="completion != null">
        and proj.is_completion = #{completion,jdbcType=TINYINT}
      </if>
    order by proj.create_time desc
    <if test="pageStart != null and pageEnd != null and pageEnd != 0">
      limit #{pageStart,jdbcType=INTEGER},#{pageEnd,jdbcType=INTEGER}
    </if>
  </select>

  <select id="selectCount" resultType="java.lang.Integer" parameterType="com.hxyc.ots.vo.ProjectVO" >
    select count(1) from (
    select
    proj.*,comp.company_name
    from t_project proj left join t_company comp on comp.id = proj.company_id and comp.status = 1
    where proj.status = 1
      <if test="companyId != null">
        and company_id = #{companyId,jdbcType=VARCHAR}
      </if>
      <if test="projectName != null">
        and project_name like concat('%',concat(#{projectName,jdbcType=VARCHAR},'%'))
      </if>
      <if test="companyName != null" >
        and comp.company_name like concat('%',concat(#{companyName,jdbcType=VARCHAR},'%'))
      </if>
      <if test="id != null">
        and proj.id = #{id,jdbcType=VARCHAR}
      </if>
      <if test="completion != null">
        and proj.is_completion = #{completion,jdbcType=TINYINT}
      </if>
    )aa
  </select>

  <!-- 根据项目名称获取项目 -->
  <select id="getProjectByName" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select
    <include refid="Base_Column_List" />
    from t_project
    where project_name = #{projectName,jdbcType=VARCHAR}
  </select>


  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_project
    where id = #{id,jdbcType=VARCHAR}
  </delete>

  <insert id="insert" parameterType="com.hxyc.ots.model.Project" >
    <selectKey keyProperty="id" resultType="string" order="BEFORE">
      select replace(uuid(), '-', '') as id from dual
    </selectKey>
    insert into t_project (id, company_id, project_name, 
      project_code, year, supply_unit, 
      contract_sign_time, supply_time, contract_num, 
      contract_amount, settlement_mode, base_float_value, 
      extra_capital_amount, capital_time_limit, interest_rate, 
      status, create_by, create_time, 
      update_by, update_time,is_completion)
      status, create_by, create_time,update_by, update_time,
      project_assistant, operate_assistant, settlement_assistant, finance_assistant)
    values (#{id,jdbcType=VARCHAR}, #{companyId,jdbcType=VARCHAR}, #{projectName,jdbcType=VARCHAR},
      #{projectCode,jdbcType=VARCHAR}, #{year,jdbcType=VARCHAR}, #{supplyUnit,jdbcType=VARCHAR}, 
      #{contractSignTime,jdbcType=VARCHAR}, #{supplyTime,jdbcType=VARCHAR}, #{contractNum,jdbcType=VARCHAR}, 
      #{contractAmount,jdbcType=VARCHAR}, #{settlementMode,jdbcType=VARCHAR}, #{baseFloatValue,jdbcType=VARCHAR}, 
      #{extraCapitalAmount,jdbcType=VARCHAR}, #{capitalTimeLimit,jdbcType=VARCHAR}, #{interestRate,jdbcType=VARCHAR}, 
      #{status,jdbcType=INTEGER}, #{createBy,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateBy,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP},#{completion,jdbcType=TINYINT})
      #{updateBy,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP
      #{projectAssistant,jdbcType=VARCHAR},#{operateAssistant,jdbcType=VARCHAR},#{settlementAssistant,jdbcType=VARCHAR},
      #{financeAssistant,jdbcType=VARCHAR}})
  </insert>

  <insert id="insertSelective" parameterType="com.hxyc.ots.model.Project" >
    <selectKey keyProperty="id" resultType="string" order="BEFORE">
      select replace(uuid(), '-', '') as id from dual
    </selectKey>
    insert into t_project
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="companyId != null" >
        company_id,
      </if>
      <if test="projectName != null" >
        project_name,
      </if>
      <if test="projectCode != null" >
        project_code,
      </if>
      <if test="year != null" >
        year,
      </if>
      <if test="supplyUnit != null" >
        supply_unit,
      </if>
      <if test="contractSignTime != null" >
        contract_sign_time,
      </if>
      <if test="supplyTime != null" >
        supply_time,
      </if>
      <if test="contractNum != null" >
        contract_num,
      </if>
      <if test="contractAmount != null" >
        contract_amount,
      </if>
      <if test="settlementMode != null" >
        settlement_mode,
      </if>
      <if test="baseFloatValue != null" >
        base_float_value,
      </if>
      <if test="extraCapitalAmount != null" >
        extra_capital_amount,
      </if>
      <if test="capitalTimeLimit != null" >
        capital_time_limit,
      </if>
      <if test="interestRate != null" >
        interest_rate,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateBy != null" >
        update_by,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="completion != null" >
        is_completion,
      </if>
        <if test="projectAssistant != null" >
            project_assistant,
        </if>
        <if test="operateAssistant != null" >
            operate_assistant,
        </if>
        <if test="settlementAssistant != null" >
            settlement_assistant,
        </if>
        <if test="financeAssistant != null" >
            finance_assistant,
        </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="companyId != null" >
        #{companyId,jdbcType=VARCHAR},
      </if>
      <if test="projectName != null" >
        #{projectName,jdbcType=VARCHAR},
      </if>
      <if test="projectCode != null" >
        #{projectCode,jdbcType=VARCHAR},
      </if>
      <if test="year != null" >
        #{year,jdbcType=VARCHAR},
      </if>
      <if test="supplyUnit != null" >
        #{supplyUnit,jdbcType=VARCHAR},
      </if>
      <if test="contractSignTime != null" >
        #{contractSignTime,jdbcType=VARCHAR},
      </if>
      <if test="supplyTime != null" >
        #{supplyTime,jdbcType=VARCHAR},
      </if>
      <if test="contractNum != null" >
        #{contractNum,jdbcType=VARCHAR},
      </if>
      <if test="contractAmount != null" >
        #{contractAmount,jdbcType=VARCHAR},
      </if>
      <if test="settlementMode != null" >
        #{settlementMode,jdbcType=VARCHAR},
      </if>
      <if test="baseFloatValue != null" >
        #{baseFloatValue,jdbcType=VARCHAR},
      </if>
      <if test="extraCapitalAmount != null" >
        #{extraCapitalAmount,jdbcType=VARCHAR},
      </if>
      <if test="capitalTimeLimit != null" >
        #{capitalTimeLimit,jdbcType=VARCHAR},
      </if>
      <if test="interestRate != null" >
        #{interestRate,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="completion != null" >
        #{completion,jdbcType=TINYINT},
      </if>
        <if test="projectAssistant != null" >
            #{projectAssistant,jdbcType=VARCHAR},
        </if>
        <if test="operateAssistant != null" >
            #{operateAssistant,jdbcType=VARCHAR},
        </if>
        <if test="settlementAssistant != null" >
            #{settlementAssistant,jdbcType=VARCHAR},
        </if>
        <if test="financeAssistant != null" >
            #{financeAssistant,jdbcType=VARCHAR},
        </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.hxyc.ots.model.Project" >
    update t_project
      <set >
        <if test="companyId != null" >
          company_id = #{companyId,jdbcType=VARCHAR},
        </if>
        <if test="projectName != null" >
          project_name = #{projectName,jdbcType=VARCHAR},
        </if>
        <if test="projectCode != null" >
          project_code = #{projectCode,jdbcType=VARCHAR},
        </if>
        <if test="year != null" >
          year = #{year,jdbcType=VARCHAR},
        </if>
        <if test="supplyUnit != null" >
          supply_unit = #{supplyUnit,jdbcType=VARCHAR},
        </if>
        <if test="contractSignTime != null" >
          contract_sign_time = #{contractSignTime,jdbcType=VARCHAR},
        </if>
        <if test="supplyTime != null" >
          supply_time = #{supplyTime,jdbcType=VARCHAR},
        </if>
        <if test="contractNum != null" >
          contract_num = #{contractNum,jdbcType=VARCHAR},
        </if>
        <if test="contractAmount != null" >
          contract_amount = #{contractAmount,jdbcType=VARCHAR},
        </if>
        <if test="settlementMode != null" >
          settlement_mode = #{settlementMode,jdbcType=VARCHAR},
        </if>
        <if test="baseFloatValue != null" >
          base_float_value = #{baseFloatValue,jdbcType=VARCHAR},
        </if>
        <if test="extraCapitalAmount != null" >
          extra_capital_amount = #{extraCapitalAmount,jdbcType=VARCHAR},
        </if>
        <if test="capitalTimeLimit != null" >
          capital_time_limit = #{capitalTimeLimit,jdbcType=VARCHAR},
        </if>
        <if test="interestRate != null" >
          interest_rate = #{interestRate,jdbcType=VARCHAR},
        </if>
        <if test="status != null" >
          status = #{status,jdbcType=INTEGER},
        </if>
        <if test="createBy != null" >
          create_by = #{createBy,jdbcType=VARCHAR},
        </if>
        <if test="createTime != null" >
          create_time = #{createTime,jdbcType=TIMESTAMP},
        </if>
        <if test="updateBy != null" >
          update_by = #{updateBy,jdbcType=VARCHAR},
        </if>
        <if test="updateTime != null" >
          update_time = #{updateTime,jdbcType=TIMESTAMP},
        </if>
        <if test="projectAssistant != null" >
            project_assistant = #{projectAssistant,jdbcType=VARCHAR},
        </if>
        <if test="operateAssistant != null" >
            operate_assistant = #{operateAssistant,jdbcType=VARCHAR},
        </if>
        <if test="settlementAssistant != null" >
            settlement_assistant = #{settlementAssistant,jdbcType=VARCHAR},
        </if>
        <if test="financeAssistant != null" >
            finance_assistant = #{financeAssistant,jdbcType=VARCHAR},
        </if>
        <if test="completion != null">
            is_completion = #{completion,jdbcType=TINYINT}
        </if>
      </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <!--查询异常订单的项目信息-->
  <select id="selectExceptionProject" resultMap="VOResultMap" parameterType="com.hxyc.ots.vo.ProjectVO">

    SELECT comp.`company_name`,proj.`project_name`,proj.`id`,proj.`is_completion` FROM `t_company` comp
      LEFT JOIN `t_project` proj ON proj.`company_id` = comp.`id` AND proj.`status` = 1
      LEFT JOIN `t_order` o ON o.`project_id` = proj.`id` AND o.`status` = 1
      LEFT JOIN `t_settlement` sett ON sett.`order_id` = o.`order_code` AND sett.`status` = 1
      LEFT JOIN `t_payment` pay ON pay.`settlement_id` = sett.`id` AND pay.`status` = 1
      WHERE comp.`status` = 1 AND
      <if test="completion != null">
        proj.`is_completion` = #{completion} AND
      </if>
      <if test="companyId != null">
        comp.`id` = #{companyId} AND
      </if>
      (o.`delivery_status` = 0 OR sett.`bill_delivery_status` = 2 OR sett.`buyer_settlement_status` = 2
      OR sett.`settlement_delivery_status` = 2 OR sett.`supplier_settlement_status` = 2 OR pay.`approval_status` = 2
      OR pay.`bill_open_time` = 2 OR pay.`payment_status` = 2
      ) GROUP BY comp.`company_name`,proj.`project_name`,proj.`id`,proj.`is_completion`
    <if test="pageStart != null and pageEnd != null and pageEnd != 0">
      limit #{pageStart,jdbcType=INTEGER},#{pageEnd,jdbcType=INTEGER}
    </if>
  </select>

  <select id="selectExceptionProjectCount" resultType="java.lang.Integer" parameterType="com.hxyc.ots.vo.ProjectVO">
    SELECT COUNT(*) FROM(
    SELECT comp.`company_name`,proj.`project_name` FROM `t_company` comp
    LEFT JOIN `t_project` proj ON proj.`company_id` = comp.`id` AND proj.`status` = 1
    LEFT JOIN `t_order` o ON o.`project_id` = proj.`id` AND o.`status` = 1
    LEFT JOIN `t_settlement` sett ON sett.`order_id` = o.`order_code` AND sett.`status` = 1
    LEFT JOIN `t_payment` pay ON pay.`settlement_id` = sett.`id` AND pay.`status` = 1
    WHERE comp.`status` = 1 AND
    <if test="completion != null">
      proj.`is_completion` = #{completion} AND
    </if>
    <if test="companyId != null">
      comp.`id` = #{companyId} AND
    </if>
    (o.`delivery_status` = 0 OR sett.`bill_delivery_status` = 2 OR sett.`buyer_settlement_status` = 2
    OR sett.`settlement_delivery_status` = 2 OR sett.`supplier_settlement_status` = 2 OR pay.`approval_status` = 2
    OR pay.`bill_open_time` = 2 OR pay.`payment_status` = 2
    ) GROUP BY comp.`company_name`,proj.`project_name`)aa
  </select>

  <update id="updateByPrimaryKey" parameterType="com.hxyc.ots.model.Project" >
    update t_project
    <set>
        company_id = #{companyId,jdbcType=VARCHAR},
        project_name = #{projectName,jdbcType=VARCHAR},
        project_code = #{projectCode,jdbcType=VARCHAR},
        year = #{year,jdbcType=VARCHAR},
        supply_unit = #{supplyUnit,jdbcType=VARCHAR},
        contract_sign_time = #{contractSignTime,jdbcType=VARCHAR},
        supply_time = #{supplyTime,jdbcType=VARCHAR},
        contract_num = #{contractNum,jdbcType=VARCHAR},
        contract_amount = #{contractAmount,jdbcType=VARCHAR},
        settlement_mode = #{settlementMode,jdbcType=VARCHAR},
        base_float_value = #{baseFloatValue,jdbcType=VARCHAR},
        extra_capital_amount = #{extraCapitalAmount,jdbcType=VARCHAR},
        capital_time_limit = #{capitalTimeLimit,jdbcType=VARCHAR},
        interest_rate = #{interestRate,jdbcType=VARCHAR},
        status = #{status,jdbcType=INTEGER},
        create_by = #{createBy,jdbcType=VARCHAR},
        create_time = #{createTime,jdbcType=TIMESTAMP},
        update_by = #{updateBy,jdbcType=VARCHAR},
        update_time = #{updateTime,jdbcType=TIMESTAMP},
        project_assistant = #{projectAssistant,jdbcType=VARCHAR},
        operate_assistant = #{operateAssistant,jdbcType=VARCHAR},
        settlement_assistant = #{settlementAssistant,jdbcType=VARCHAR},
        finance_assistant = #{financeAssistant,jdbcType=VARCHAR},
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>

  <!--欢迎页获取汇总数据-->
  <select id="getWelcomeList" resultType="com.hxyc.ots.vo.WelcomeVO">
      select '总数' title, a.projectNum, b.orderNum, c.settlementNum,d.paymentNum, e.receiptNum
      from (select count(*) projectNum  from t_project where status=1) a,
      (select count(*) orderNum  from t_order where status=1) b,
      (select count(*) settlementNum  from t_settlement where status=1) c,
      (select count(*) paymentNum  from t_payment where status=1) d,
      (select count(*) receiptNum  from t_receipt where status=1) e
      UNION ALL
      select '今天', a.projectNum, b.orderNum, c.settlementNum,d.paymentNum, e.receiptNum
      from (select count(*) projectNum  from t_project
      where status=1 AND create_time BETWEEN (SELECT DATE_FORMAT(NOW(),'%Y-%m-%d 00:00:00')) AND (SELECT DATE_FORMAT(NOW(),'%Y-%m-%d 23:59:59'))) a,
      (select count(*) orderNum  from t_order
      where status=1 AND create_time BETWEEN (SELECT DATE_FORMAT(NOW(),'%Y-%m-%d 00:00:00')) AND (SELECT DATE_FORMAT(NOW(),'%Y-%m-%d 23:59:59'))) b,
      (select count(*) settlementNum  from t_settlement
      where status=1 AND create_time BETWEEN (SELECT DATE_FORMAT(NOW(),'%Y-%m-%d 00:00:00')) AND (SELECT DATE_FORMAT(NOW(),'%Y-%m-%d 23:59:59'))) c,
      (select count(*) paymentNum  from t_payment
      where status=1 AND create_time BETWEEN (SELECT DATE_FORMAT(NOW(),'%Y-%m-%d 00:00:00')) AND (SELECT DATE_FORMAT(NOW(),'%Y-%m-%d 23:59:59'))) d,
      (select count(*) receiptNum  from t_receipt
      where status=1 AND create_time BETWEEN (SELECT DATE_FORMAT(NOW(),'%Y-%m-%d 00:00:00')) AND (SELECT DATE_FORMAT(NOW(),'%Y-%m-%d 23:59:59'))) e
      UNION ALL
      select '昨天', a.projectNum, b.orderNum, c.settlementNum,d.paymentNum, e.receiptNum
      from (select count(*) projectNum  from t_project
      where status=1 AND create_time BETWEEN (SELECT DATE_FORMAT( DATE_SUB(CURDATE(), INTERVAL 1 DAY), '%Y-%m-%d 00:00:00')) AND (SELECT DATE_FORMAT( DATE_SUB(CURDATE(), INTERVAL 1 DAY), '%Y-%m-%d 23:59:59'))) a,
      (select count(*) orderNum  from t_order
      where status=1 AND create_time BETWEEN (SELECT DATE_FORMAT( DATE_SUB(CURDATE(), INTERVAL 1 DAY), '%Y-%m-%d 00:00:00')) AND (SELECT DATE_FORMAT( DATE_SUB(CURDATE(), INTERVAL 1 DAY), '%Y-%m-%d 23:59:59'))) b,
      (select count(*) settlementNum  from t_settlement
      where status=1 AND create_time BETWEEN (SELECT DATE_FORMAT( DATE_SUB(CURDATE(), INTERVAL 1 DAY), '%Y-%m-%d 00:00:00')) AND (SELECT DATE_FORMAT( DATE_SUB(CURDATE(), INTERVAL 1 DAY), '%Y-%m-%d 23:59:59'))) c,
      (select count(*) paymentNum  from t_payment
      where status=1 AND create_time BETWEEN (SELECT DATE_FORMAT( DATE_SUB(CURDATE(), INTERVAL 1 DAY), '%Y-%m-%d 00:00:00')) AND (SELECT DATE_FORMAT( DATE_SUB(CURDATE(), INTERVAL 1 DAY), '%Y-%m-%d 23:59:59'))) d,
      (select count(*) receiptNum  from t_receipt
      where status=1 AND create_time BETWEEN (SELECT DATE_FORMAT( DATE_SUB(CURDATE(), INTERVAL 1 DAY), '%Y-%m-%d 00:00:00')) AND (SELECT DATE_FORMAT( DATE_SUB(CURDATE(), INTERVAL 1 DAY), '%Y-%m-%d 23:59:59'))) e
      UNION ALL
      select '上周', a.projectNum, b.orderNum, c.settlementNum,d.paymentNum, e.receiptNum
      from (select count(*) projectNum  from t_project
      where status=1 AND create_time BETWEEN (SELECT DATE_FORMAT( DATE_SUB( DATE_SUB(CURDATE(), INTERVAL WEEKDAY(CURDATE()) DAY), INTERVAL 1 WEEK), '%Y-%m-%d 00:00:00')) AND (SELECT DATE_FORMAT( SUBDATE(CURDATE(), WEEKDAY(CURDATE()) + 1), '%Y-%m-%d 23:59:59'))) a,
      (select count(*) orderNum  from t_order
      where status=1 AND create_time BETWEEN (SELECT DATE_FORMAT( DATE_SUB( DATE_SUB(CURDATE(), INTERVAL WEEKDAY(CURDATE()) DAY), INTERVAL 1 WEEK), '%Y-%m-%d 00:00:00')) AND (SELECT DATE_FORMAT( SUBDATE(CURDATE(), WEEKDAY(CURDATE()) + 1), '%Y-%m-%d 23:59:59'))) b,
      (select count(*) settlementNum  from t_settlement
      where status=1 AND create_time BETWEEN (SELECT DATE_FORMAT( DATE_SUB( DATE_SUB(CURDATE(), INTERVAL WEEKDAY(CURDATE()) DAY), INTERVAL 1 WEEK), '%Y-%m-%d 00:00:00')) AND (SELECT DATE_FORMAT( SUBDATE(CURDATE(), WEEKDAY(CURDATE()) + 1), '%Y-%m-%d 23:59:59'))) c,
      (select count(*) paymentNum  from t_payment
      where status=1 AND create_time BETWEEN (SELECT DATE_FORMAT( DATE_SUB( DATE_SUB(CURDATE(), INTERVAL WEEKDAY(CURDATE()) DAY), INTERVAL 1 WEEK), '%Y-%m-%d 00:00:00')) AND (SELECT DATE_FORMAT( SUBDATE(CURDATE(), WEEKDAY(CURDATE()) + 1), '%Y-%m-%d 23:59:59'))) d,
      (select count(*) receiptNum  from t_receipt
      where status=1 AND create_time BETWEEN (SELECT DATE_FORMAT( DATE_SUB( DATE_SUB(CURDATE(), INTERVAL WEEKDAY(CURDATE()) DAY), INTERVAL 1 WEEK), '%Y-%m-%d 00:00:00')) AND (SELECT DATE_FORMAT( SUBDATE(CURDATE(), WEEKDAY(CURDATE()) + 1), '%Y-%m-%d 23:59:59'))) e
      UNION ALL
      select '本周', a.projectNum, b.orderNum, c.settlementNum,d.paymentNum, e.receiptNum
      from (select count(*) projectNum  from t_project
      where status=1 AND create_time BETWEEN (SELECT DATE_FORMAT( DATE_SUB(CURDATE(), INTERVAL WEEKDAY(CURDATE()) DAY), '%Y-%m-%d 00:00:00')) AND (SELECT DATE_FORMAT( DATE_ADD(SUBDATE(CURDATE(), WEEKDAY(CURDATE())), INTERVAL 6 DAY), '%Y-%m-%d 23:59:59'))) a,
      (select count(*) orderNum  from t_order
      where status=1 AND create_time BETWEEN (SELECT DATE_FORMAT( DATE_SUB(CURDATE(), INTERVAL WEEKDAY(CURDATE()) DAY), '%Y-%m-%d 00:00:00')) AND (SELECT DATE_FORMAT( DATE_ADD(SUBDATE(CURDATE(), WEEKDAY(CURDATE())), INTERVAL 6 DAY), '%Y-%m-%d 23:59:59'))) b,
      (select count(*) settlementNum  from t_settlement
      where status=1 AND create_time BETWEEN (SELECT DATE_FORMAT( DATE_SUB(CURDATE(), INTERVAL WEEKDAY(CURDATE()) DAY), '%Y-%m-%d 00:00:00')) AND (SELECT DATE_FORMAT( DATE_ADD(SUBDATE(CURDATE(), WEEKDAY(CURDATE())), INTERVAL 6 DAY), '%Y-%m-%d 23:59:59'))) c,
      (select count(*) paymentNum  from t_payment
      where status=1 AND create_time BETWEEN (SELECT DATE_FORMAT( DATE_SUB(CURDATE(), INTERVAL WEEKDAY(CURDATE()) DAY), '%Y-%m-%d 00:00:00')) AND (SELECT DATE_FORMAT( DATE_ADD(SUBDATE(CURDATE(), WEEKDAY(CURDATE())), INTERVAL 6 DAY), '%Y-%m-%d 23:59:59'))) d,
      (select count(*) receiptNum  from t_receipt
      where status=1 AND create_time BETWEEN (SELECT DATE_FORMAT( DATE_SUB(CURDATE(), INTERVAL WEEKDAY(CURDATE()) DAY), '%Y-%m-%d 00:00:00')) AND (SELECT DATE_FORMAT( DATE_ADD(SUBDATE(CURDATE(), WEEKDAY(CURDATE())), INTERVAL 6 DAY), '%Y-%m-%d 23:59:59'))) e
      UNION ALL
      select '上月', a.projectNum, b.orderNum, c.settlementNum,d.paymentNum, e.receiptNum
      from (select count(*) projectNum  from t_project
      where status=1 AND create_time BETWEEN (SELECT DATE_FORMAT(DATE_SUB(CURDATE(), INTERVAL 1 MONTH), '%Y-%m-01 00:00:00')) AND (SELECT DATE_FORMAT(LAST_DAY(DATE_SUB(CURDATE(), INTERVAL 1 MONTH)), '%Y-%m-%d 23:59:59'))) a,
      (select count(*) orderNum  from t_order
      where status=1 AND create_time BETWEEN (SELECT DATE_FORMAT(DATE_SUB(CURDATE(), INTERVAL 1 MONTH), '%Y-%m-01 00:00:00')) AND (SELECT DATE_FORMAT(LAST_DAY(DATE_SUB(CURDATE(), INTERVAL 1 MONTH)), '%Y-%m-%d 23:59:59'))) b,
      (select count(*) settlementNum  from t_settlement
      where status=1 AND create_time BETWEEN (SELECT DATE_FORMAT(DATE_SUB(CURDATE(), INTERVAL 1 MONTH), '%Y-%m-01 00:00:00')) AND (SELECT DATE_FORMAT(LAST_DAY(DATE_SUB(CURDATE(), INTERVAL 1 MONTH)), '%Y-%m-%d 23:59:59'))) c,
      (select count(*) paymentNum  from t_payment
      where status=1 AND create_time BETWEEN (SELECT DATE_FORMAT(DATE_SUB(CURDATE(), INTERVAL 1 MONTH), '%Y-%m-01 00:00:00')) AND (SELECT DATE_FORMAT(LAST_DAY(DATE_SUB(CURDATE(), INTERVAL 1 MONTH)), '%Y-%m-%d 23:59:59'))) d,
      (select count(*) receiptNum  from t_receipt
      where status=1 AND create_time BETWEEN (SELECT DATE_FORMAT(DATE_SUB(CURDATE(), INTERVAL 1 MONTH), '%Y-%m-01 00:00:00')) AND (SELECT DATE_FORMAT(LAST_DAY(DATE_SUB(CURDATE(), INTERVAL 1 MONTH)), '%Y-%m-%d 23:59:59'))) e
      UNION ALL
      select '本月', a.projectNum, b.orderNum, c.settlementNum,d.paymentNum, e.receiptNum
      from (select count(*) projectNum  from t_project
      where status=1 AND create_time BETWEEN (SELECT DATE_FORMAT( CURDATE(), '%Y-%m-01 00:00:00')) AND (SELECT DATE_FORMAT( LAST_DAY(CURDATE()), '%Y-%m-%d 23:59:59'))) a,
      (select count(*) orderNum  from t_order
      where status=1 AND create_time BETWEEN (SELECT DATE_FORMAT( CURDATE(), '%Y-%m-01 00:00:00')) AND (SELECT DATE_FORMAT( LAST_DAY(CURDATE()), '%Y-%m-%d 23:59:59'))) b,
      (select count(*) settlementNum  from t_settlement
      where status=1 AND create_time BETWEEN (SELECT DATE_FORMAT( CURDATE(), '%Y-%m-01 00:00:00')) AND (SELECT DATE_FORMAT( LAST_DAY(CURDATE()), '%Y-%m-%d 23:59:59'))) c,
      (select count(*) paymentNum  from t_payment
      where status=1 AND create_time BETWEEN (SELECT DATE_FORMAT( CURDATE(), '%Y-%m-01 00:00:00')) AND (SELECT DATE_FORMAT( LAST_DAY(CURDATE()), '%Y-%m-%d 23:59:59'))) d,
      (select count(*) receiptNum  from t_receipt
      where status=1 AND create_time BETWEEN (SELECT DATE_FORMAT( CURDATE(), '%Y-%m-01 00:00:00')) AND (SELECT DATE_FORMAT( LAST_DAY(CURDATE()), '%Y-%m-%d 23:59:59'))) e
  </select>
</mapper>